/* Basic style for the body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Container for the content */
.container {
    width: 100%;
    max-width: 1200px; /* Optional: adjust if you want to limit the max width */
    padding: 5px; /* Adjust padding for better spacing */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

/* Styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

/* Styles for table headers and cells */
th, td {
    padding: 12px 5px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
}

/* Styles for hidden columns */
.extra-columns {
    /* Columns are visible by default, will be hidden when class 'hidden' is applied */
}

.extra-columns.hidden {
    display: none; /* Hide columns when 'hidden' class is applied */
}

/* Styles for the logo and title */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.logo {
    max-width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

h1 {
    margin: 0;
    color: #333;
    font-size: 2.5em;
    font-weight: 600;
}

/* Styles for the form */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%; /* Make input fields full width */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

/* Styles for the results container */
.results-container {
    margin-top: 20px;
    position: relative; /* Ensure the button is positioned correctly */
}

/* Styles for the Show More / Show Less button */
#toggleButton {
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; /* Ensure the button is displayed as an inline block */
}

#toggleButton:hover {
    background-color: #0056b3;
}
